<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        {% load static %}
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'search/media/developer-portfolio-template/lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'search/media/developer-portfolio-template/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'search/media/developer-portfolio-template/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        
        <link href="{% static 'search/media/css/style.css' %}" rel="stylesheet">

        <script src="{% static 'search/media/js/main.js' %}" defer></script>
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="../" class="navbar-brand">Indexed World</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="../" class="nav-item nav-link active">Home</a>
                        
                        
                    </div>
                </div>
            </div>
        </div>


        <!-- Hero Start -->
        <div class="hero" id="home">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-content">
                            <div class="hero-text">
                                <p>Somos</p>
                                <h1>Isa y Vero</h1>
                                <h2></h2>
                                <div class="typed-text">Estudiantes del master de Python en CICE </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Hero End -->

        
        
        
        
        
         <!-- Experience Start -->
         <div class="experience" id="experience">
            <div class="container">
                <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <h2>Cronología del Proyecto</h2>
                </header>
                <div class="timeline">
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">Diciembre</div>
                            <h2>Planteamiento idea del proyecto</h2>
                            <p>
                              Tras descartar varias ideas decidimos apostar por web scraping 
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">Enero</div>
                            <h2>Creación de la documentación</h2>
                            
                            <p>
                              Puesta en escrito de los principales puntos del proyecto como objetivos, alcance y limites
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">Febrero</div>
                            <h2>Primeros Scripts y toma de contacto con Django</h2>
                            <p>
                              Conocimiento de las diferentes librerias de scraping y primeros problemas encontrados por ser bloqueados por las diferentes webs 
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">Marzo</div>
                            <h2>Estructuracion del proyecto en Django</h2>
                            
                            <p>
                              Tras habernos familiarizado con este framework comenzamos a pulir el codigo y a crear el Frontend
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">Abril</div>
                            <h2>Remodelación de scripts</h2>
                            <p>
                              Pasados unos meses de la creación de los scripts nos encontramos con que algunas webs han cambiado su estructura html 
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">Mayo</div>
                            <h2>Optimización del código</h2>
                            <p>
                              Unificación de Back y Front permitiendonos mejorar la funcionalidad de nuestro proyecto
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                      <div class="timeline-text">
                          <div class="timeline-date">Junio</div>
                          <h2>Finalización</h2>
                          <p>
                            Terminamos toda la documentación, agregamos últimos detalles y entrega final 
                          </p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <!-- Job Experience End -->
        
        
        <!-- Banner Start -->
        <div class="banner wow zoomIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="section-header text-center">
                    <h2>¿Quienes <span>Somos?</span></h2>
                </div>
                <div class="container banner-text">
                    <p>
                       Somos dos estudiantes del master en Python de la escuela de CICE, este es nuestro proyecto final de master 
                    </p>
                    <a class="btn" a href="../">Pruébalo</a>
                </div>
            </div>
        </div>
        <!-- Banner End -->


        


        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>Mundo-Indexado</h2>
                        <h3>Calle Falsa 1234</h3>
                        <div class="footer-menu">
                            <p>veronicasalguero.95@gmail.com</p>
                        </div>
                        <div class="footer-social">
                            <a href="https://github.com/neifors/Mundo-Indexado"><i class="fab fa-github"></i></i></a>
                            
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved | Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        
        
        <!-- Back to top button -->
        <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'search/media/developer-portfolio-template/lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'search/media/developer-portfolio-template/lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'search/media/developer-portfolio-template/lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'search/media/developer-portfolio-template/lib/typed/typed.min.js' %}"></script>
        <script src="{% static 'search/media/developer-portfolio-template/lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'search/media/developer-portfolio-template/lib/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'search/media/developer-portfolio-template/lib/lightbox/js/lightbox.min.js' %}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{% static 'search/media/developer-portfolio-template/mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'search/media/developer-portfolio-template/mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'search/media/js/main.js' %}"></script>
    </body>
</html>
